<div class ="container signup" >
  <h1>Ahora inicie sesi칩n</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="form-group">
  <%= f.email_field :email, :placeholder => "Correo electr칩nico"%>
  </div>
  <div class="form-group" >
    <%= f.password_field :password, :placeholder => "Contrase침a" %>
  </div>
  <%= f.submit "Iniciar sesi칩n", class: "btn-submit" %>
<% end %>
</div>
