/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*Simple Navigation Styles*/
#navigation{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li.nav-item{
  list-style-type: none;
  margin: 10px;
  padding-right: 10px;
  float: left;
  font-size: 2em;
  border-right: 1px solid #bbb;
}

li a.nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-item:last-child {
    border-right: none;
}

/*Table styles*/
th{
  font-size: 3rem;
}
td{
  font-size: 3rem;
}
.new-btn{
  vertical-align: middle;
  font-size: 2rem;
  width: 25%;
}
.card{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
}

.kpi-box{
  margin-bottom: 2em;
}
.jumbotron{
  background-image: url(toros.jpg) ;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: center;
}

.signup{
  text-align: center;
}
